[client]
default-character-set = utf8mb4
[mysql]
default-character-set = utf8mb4
[mysqld]
character-set-client-handshake = FALSE  # 忽略客户端的字符集，使用服务器的设置 
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

